{
    "presets": [
        ["@babel/preset-env", { "modules": false }],
        ["@babel/preset-typescript", { "jsxPragma": "h" }]
    ],
    "plugins": [
        ["babel-plugin-macros"],
        [
            "@babel/plugin-transform-react-jsx",
            {
                "runtime": "automatic"
            }
        ]
    ]
}
