# This workflow will do a clean install of node dependencies, lint, and build the source code
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: lint and build

on: push

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [12.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Installing dependencies
              run: npm ci # "npm clean install" commonly used for CI

            - name: Linting
              run: npm run lint

            - name: Building
              run: npm run build --if-present
